.item {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px #ddd solid;
   padding: 1rem;
   margin-bottom: 1rem;
   border-radius: 7px;

   &.isComplated {
      .title {
         text-decoration: line-through;
         color: rgb(117, 115, 115);
      }
   }

   &.late {
      .title {
         color: red;
      }
   }

   .controls {
      display: flex;
      gap: 20px;
      font-size: 1.5rem;
      background: #dfdfff;
      padding: 5px 20px;
      border-radius: 10px;
      button {
         background: none;
         border: none;
         cursor: pointer;
         font-size: 1.5rem;
      }
      .check {
         width: 30px;
         height: 30px;
         border: 1px #1e1e1e solid;
         border-radius: 5px;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.7);
      }
   }
}
.editWrapper {
}
.inner {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   gap: 20px;
   .head {
      display: flex;
      align-items: center;
      gap: 20px;

      .num {
         font-size: 1.5rem;
         font-weight: bold;
         width: 40px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: #d7aaaa;
         color: white;
      }

      .name {
         margin: 0;
      }

      .endDate {
         font-size: 0.8em;
      }
   }

   .body {
   }

   .footer {
      display: flex;
      gap: 20px;
   }
}
