.todoAdd {
   max-width: 600px;
   display: inline-flex;
    flex-direction: column;
    padding: 15px;
    background: #e1e1e1;
    border-radius: 10px;

}

.title {
   &.error {
      color: red;
      border-color: red;
   }
}